@font-face {
  font-family: 'youtube';
  src: url('../font/AnyConv.com__KFOmCnqEu92Fr1Mu4mxPKTU1Kg.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
