body {
  /*코드 업데이트*/
  overflow-x: hidden;
}
.wrapper {
  background: #000;
  width: 100vw;
  /*코드 업데이트*/
  height: 100%;
}
.navBar {
  z-index: 1;
  position: relative;
}
.nav-item {
  text-decoration: none;
  color: #fff;
  margin: 2px 20px 0;
  transition: all 0.3s;
}
.nav-item:hover {
  color: #f00;
}
.banner {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  display: flex;
  align-items: center;
}
.banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
}
.banner-info {
  width: 40%;
  margin-left: 30px;
  z-index: 1;
  color: #fff;
}
.movieContents {
  z-index: 1;
  position: relative;
  color: #fff;
}
