@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  width: 100%;
  height: 75vh;
  margin-top: 100px;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
}
#root {
  width: 100%;
  max-width: 600px;
  height: 100%;
  background: #fff;
  box-shadow: 0 7px 29px rgba(100, 100, 100, 0.2);
  padding: 20px;
  border-radius: 8px;
}
