/* CSS를 사용할 때, 변수!!! 설정 가능!! */
/* 변수 = 변할 수 있는 수 VS 상수 = 고정되어 있는 수 */
/* 그룹 및 팀작업 => A = index / B => detail */
/* wire frame => 메뉴얼 (*스타일가이드) */
/* main color => / font-size => */
/* 변수 = variable */
/* var */

/* var */
:root {
  --primary-color: #8b008b;
  --secondary-color: #cc5285;
  --background-color: #222222;
  --font-size: 1.6em;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--background-color);
}

/* Desktop */
body {
  color: var(--background-color);
  line-height: var(--font-size);
}
.container {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
.best-seller {
  border-radius: 20px;
  width: 1230px;
  padding: 20px 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.best-header {
  font-size: 22px;
  padding-left: 10px;
}
.view-more {
  float: right;
  color: crimson;
}
.view-more:hover {
  text-decoration: underline;
}
.items-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.item {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.item:nth-child(10),
.item:nth-child(11),
.item:nth-child(12) {
  border: none;
}
.name span {
  display: block;
  color: var(--primary-color);
}
.item:hover .name {
  color: var(--secondary-color);
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .container {
    align-items: start;
  }
  .best-seller {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .items-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .item:nth-child(10) {
    border-bottom: 1px solid #ddd;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .items-inner {
    grid-template-columns: 1fr;
  }
  .item:nth-child(11) {
    border-bottom: 1px solid #ddd;
  }
}
