body {
  /* background-image: url("./img/BackgroundFront.png"),
    url("./img/BackgroundBack.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 50%;
  background-color: #e7e7e7; */
  background: url("./img/BackgroundFront.png") bottom/100% no-repeat fixed,
    url("./img/BackgroundBack.png") bottom/100% no-repeat fixed;
}
