div {
  width: 500px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  /* background: #f85032; */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(1%, #f85032),
    color-stop(50%, #f16f5c),
    color-stop(1%, #f6290c),
    color-stop(100%, #e73827)
  );
  /* background: linear-gradient(
    to bottom,
    #f85032 1%,
    #f16f5c 50%,
    #f6290c 1%,
    #e73827 100%
  ); */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
  /* background: linear-gradient(
    to bottom,
    #feccb1 0%,
    #f17432 50%,
    #ea5507 51%,
    #fb955e 100%
  ); */
}
