ul {
  overflow: hidden;
}
li {
  float: left;
  list-style: none;
  margin-left: 10px;
}

body {
  width: 960px;
  margin: 0 auto;
  /* border: 1px solid #f00; */
}
#aside {
  width: 200px;
  float: left;
}
#content {
  width: 760px;
  float: left;
}
section {
  overflow: hidden;
}
