* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* :root {
  --main-color: #000;
}
*/
@font-face {
  font-family: "Back to Black Demo";
  src: url("./font/Back_to_Black_Demo.otf");
}
