* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 500px;
}

.item-img {
  width: 300px;
  /* height: 400px; */
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  margin: 20px 10px;
}

.win {
  border: 5px solid #f00;
}
.lose {
  border: 5px solid #00f;
}
.tie {
  border: 5px solid brown;
}
