* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
}
.main {
  display: flex;
  justify-content: center;
}
.box {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.item-img {
  width: 400px;
}
.container .main:last-child {
  gap: 10px;
}
.main button {
  width: 100px;
  height: 50px;
}
.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid burlywood;
  color: burlywood;
}
