extends base.pug
include mixins/video

block content 
    form(method="GET")
      input(name="keyword" type="text" placeholder="Search by title")
      input(type="submit" value="Search Now")

    each video in videos
        +video(video)