* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  background: #222;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
}
