fieldset {
  width: 280px;
  margin-bottom: 20px;
}
div {
  text-align: center;
}
label {
  color: lightseagreen;
  font-weight: bold;
}

#testbox {
  width: 300px;
}

input {
  text-align: center;
}
