@import url("./reset.css");
@import url("./font.css");

/* common css */
body {
  font-family: Travel;
}
main {
  width: 100%;
  height: 100%;
}

/* header */
header {
  width: 100%;
  height: 74px;
  background: #fff;
}
header > div {
  /* border: 1px solid #f00; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 74px;
  margin: 0 auto;
}
nav > div {
  display: flex;
  align-items: center;
  gap: 44px;
}
#icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid #ebebeb;
  border-radius: 20px;
  padding: 8px;
  width: 76px;
}

/* figure */
figure {
  width: 100%;
  height: 529px;
  background: url("./img/1.main/main_04.jpg") center/cover no-repeat;
}
figure #slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 39px;
  width: 1240px;
  height: 529px;
  padding-top: 200px;
  margin: 0 auto;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 2px;
}
#schedule {
  width: 1240px;
  height: 145px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  border-radius: 20px;
}
#schedule-title {
  color: #000;
  width: 1200px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
}
#schedule-title span {
  word-spacing: -4px;
}
#schedule-title span:first-child {
  color: #1273e4;
  font-weight: 600;
  margin-right: 50px;
  position: relative;
}
#schedule-title span:first-child::after {
  content: "";
  width: 140%;
  height: 4px;
  background: #1273e4;
  position: absolute;
  bottom: -15px;
  left: -14px;
}
#schedule-title span:last-child {
  color: #707070;
  position: relative;
}
#schedule-title span:last-child::after {
  content: "";
  width: 1180px;
  height: 2px;
  background: #f5f5f5;
  position: absolute;
  bottom: -17px;
  left: -144px;
}
#schedule-bar {
  position: relative;
}
#schedule-bar form {
  width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#schedule-bar .schedule-item {
  height: 45px;
  background: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: Travel;
  padding-left: 45px;
}
#schedule-bar .search {
  width: 450px;
}
.fa-magnifying-glass {
  color: #c2c2c2;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 16px;
}
#schedule-bar .search::placeholder {
  color: #c2c2c2;
}
#schedule-bar input[type="date"] {
  margin: 0 10px;
  width: 296px;
  position: relative;
}
#schedule-bar input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
  padding-left: 20px;
}
#schedule-bar input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -50px;
  scale: 0.5;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#schedule-bar .person {
  width: 300px;
  margin-right: 10px;
  cursor: pointer;
}
#schedule-bar input[type="submit"] {
  width: 120px;
  height: 45px;
  background: #1273e4;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* section common */
#contents {
  width: 1240px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}
.inner-content-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 65px 0 20px;
  letter-spacing: 1px;
}
.inner-content-title h3 {
  color: #333;
}
.inner-content-title h5 {
  color: #1273e4;
}
.inner-content-slide {
  display: flex;
  justify-content: space-between;
}

/* section-01event */
.event img {
  width: 380px;
  border-radius: 10px;
}
.event #list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 20px 0 0;
}
.event #list span {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ccc;
}
.event #list span:first-child {
  background: #1273e4;
}

/* section-02local */
.local .inner-content-slide img {
  width: 185px;
  border-radius: 10px;
}

/* section-03outside */
/* section-04hot */
/* section-05special */
/* section-06pension */
/* section-07blackdeal */
/* section-08banner */
