* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container {
  width: 60%;
  max-width: 400px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container button {
  width: 100%;
  padding: 12px;
}
.sort-buttons {
  display: flex;
  gap: 20px;
  width: 100%;
}
.container ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container ul li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.container ul li div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container ul li img {
  border-radius: 10px;
  overflow: hidden;
}
