/* reset */
@import url("./reset.css");

/* common */
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper_header {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contents_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  color: #55b2d4;
  font: 600 16px/1 "arial";
}
.subtitle {
  font-size: 14px;
  padding-bottom: 2px;
}
.divideLine {
  width: 100%;
  border-top: 1px solid gray;
  margin: 4px 0;
}
.game_container {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px 15px;
  background: #f6f6f6;
  /* background: url("./contents/bg_1.jpg"); */
  width: 100%;
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper > div:nth-child(2) {
  background: url("./contents/bg_1.jpg") center -90px / cover no-repeat;
  width: 100%;
  height: 158px;
  position: relative;
}
.wrapper > div:nth-child(3) {
  background: url("./contents/bg_2.jpg") center -90px / cover no-repeat;
  width: 100%;
  height: 158px;
  position: relative;
}
.wrapper > div:nth-child(2)::after {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 158px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.wrapper > div:nth-child(3)::after {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 158px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.game_container img {
  z-index: 2;
}
.game_title {
  font: 700 16px/1 "arial";
  color: #fff;
  z-index: 2;
}
.game_subtitle {
  font-size: 14px;
  color: #fff;
  z-index: 2;
}
.word_text {
  z-index: 2;
}
.word_text input[type="text"] {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  padding: 0 0 2px 8px;
  color: #fff;
}
.word_text input[type="text"]::placeholder {
  color: #fff;
  z-index: 2;
}
.word_text input[type="text"]:focus {
  outline: none;
}
.word_text input[type="text"]:focus::placeholder {
  opacity: 0;
}
.word_text input[type="submit"],
.wrapper_lotto_btn {
  padding: 2px 8px;
  border: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f6f6f6;
  transition: all 0.3s;
  z-index: 2;
}
.word_text input[type="submit"]:hover,
.wrapper_lotto_btn:hover {
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.word_result {
  color: #ffe400;
  font-weight: 800;
  z-index: 2;
}
.game_lotto_number {
  width: 150px;
  height: 21px;
  background: #ffe400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 5px 0;
  padding: 2px 6px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  z-index: 2;
}
.game_lotto_number span {
  display: inline-block;
  padding-bottom: 3px;
}
