@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}
.navi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.navi li a {
  font-size: 4rem;
  position: relative;
  color: #fff;
}
.navi li a::before {
  content: attr(data-text);
  color: yellowgreen;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.navi li a:hover::before {
  width: 100%;
}
.photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("./images/portrait-initial.jpg") center/cover no-repeat;
}
