/* reset */
@import url("./reset.css");

/* variables */
@import url("./variables.css");

/* common */
body {
  font-family: var(--primary-kr);
  color: var(--dark-black);
  line-height: 1.5em;
  font-size: 14px;
}
.container {
  width: 100%;
  position: relative;
}
.preloading,
.signin {
  height: 100vh;
}
.logo {
  font-family: var(--logo-en);
}
.btn-primary {
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  font-size: 18px;
  color: #fff;
}

/* preloading */
.preloading-inner {
  height: inherit;
  background: url("../images/preloading-back.jpg") top left / cover no-repeat;
  position: relative;
}
.heading-preloading {
  position: absolute;
  top: 180px;
  left: 30px;
}
.heading-preloading .logo {
  font-size: 32px;
  color: var(--crimson);
  margin-bottom: 26px;
}
.slogan span {
  display: block;
  font-family: var(--secondary-kr);
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0;
}

/* signin */
.signin-photo {
  background: url("../images/signin-header.jpg") no-repeat;
  height: 250px;
}
.signin-header {
  text-align: center;
  margin: 20px 0;
}
.signin-header .logo {
  font-size: 26px;
  margin: 10px 0;
}
.signin-header p {
  font-size: 16px;
  margin-bottom: 10px;
}
.signin-field input {
  width: 100%;
  margin: 5px 0;
  padding: 10px 20px;
  border: 1px solid var(--gainsboro);
  border-radius: 30px;
}
.signin-field input:focus {
  outline: none;
  border-color: var(--yellowgreen);
}
.signin-field input::placeholder {
  color: var(--silver-gray);
  transition: all 0.3s;
}
.signin-field input:focus::placeholder {
  opacity: 0;
}
.status {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.custom-chk label input[type="checkbox"] {
  display: none;
}
.custom-chk label input[type="checkbox"] + em {
  /* border: 2px solid rgba(255, 0, 0, 0.5); */
  border: 2px solid var(--light-gray);
  border-radius: 16px;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translateY(4px);
  margin-right: 2px;
}
.custom-chk label input[type="checkbox"] + em::before {
  content: "\f00c";
  font-family: fontawesome;
  font-style: normal;
  color: var(--light-gray);
  font-size: 12px;
  text-align: center;
  width: 20px;
  position: absolute;
  left: -2px;
  bottom: -3px;
  display: inline-block;
}
.custom-chk label input[type="checkbox"]:checked + em::before {
  background: var(--crimson);
  border-color: none;
  border-radius: 16px;
  color: #fff;
}
.btn-signin {
  margin: 10px 0;
  background: var(--yellowgreen);
}
.join-member {
  text-align: center;
  margin: 15px 0;
}
.join-member a {
  text-decoration: underline;
}
.easy-signin {
  text-align: center;
  margin-top: 20px;
}
.easy-signin span {
  color: var(--light-gray);
}
.social-btn {
  margin: 10px 0;
}
.social-btn a {
  margin: 2px;
}

/* gnb */
iframe {
  width: 100%;
  height: 55px;
}
.gnb {
  border-top: 1px solid var(--cloudy-gray);
  padding-top: 8px;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: #fff;
}
.gnb a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}
.gnb a i {
  font-size: 18px;
}
