* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  position: absolute;
  top: 120px;
  left: 40px;
  z-index: 10;
}
