@import url("./reset.css");

/* .circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.circle1 {
  background: #deb887;
}
.circle2 {
  background: #87ded2;
} */

section {
  background: #a52a2a;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
}
li {
  width: 100px;
  height: 100px;
  background: #fff8dc;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
