.image {
  width: 100px;
  height: 30px;
  background: url("./img/netflix.png") center/cover no-repeat;
}
.nav-item {
  text-decoration: none;
  color: #fff;
  margin: 2px 20px 0;
  transition: all 0.3s;
}
.nav-item:hover {
  color: #f00;
}
