@import "reset";
@import "variable";
@import "mixin";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "youtube";
  #container {
    // width: 367px;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    #header {
      width: inherit;
      height: 55px;
      background: $black;
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 0 20px;
      z-index: 10;
      #header_contents {
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        img {
          height: 22px;
        }
        #header_right {
          width: 50px;
          display: flex;
          justify-content: space-around;
          .fa-solid {
            color: $white;
          }
        }
      }
    }
    figure {
      position: fixed;
      top: 55px;
      width: inherit;
      height: 220px;
      z-index: 10;
      .video {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    main {
      position: absolute;
      top: 290px;
      left: 0;
      padding: 0 20px;
      width: inherit;
      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        width: 100%;
        height: 310px;
        margin-top: 10px;
        background: $white;
        .heading {
          h3 {
            font-size: 20px;
            margin-bottom: 8px;
          }
          .add {
            display: flex;
            gap: 8px;
            span {
              color: $subColor;
            }
          }
        }
        .middle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          #profile {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 35px;
              border-radius: 100%;
            }
            span {
              color: $subColor;
            }
          }
          .middle_btn {
            span {
              @include btnType;
              &:first-child {
                background: $black;
                color: $white;
                margin-right: 6px;
              }
            }
          }
        }
        .subinfo {
          display: flex;
          justify-content: space-between;
          span {
            @include btnType;
            display: flex;
            gap: 2px;
            align-items: center;
            font-size: 8px;
          }
        }
        .review {
          background: $btnColor;
          border-radius: 10px;
          padding: 10px;
          font-size: 14px;
          .review_title {
            margin-bottom: 10px;
            span:first-child {
              font-weight: bold;
              font-size: 15px;
            }
            span:last-child {
              color: $subColor;
            }
          }
          .review_content {
            display: flex;
            align-items: center;
            gap: 8px;
            img {
              width: 30px;
              border-radius: 100%;
            }
          }
        }
      }
      .hashlist {
        background: $white;
        width: 390px;
        // overflow: hidden;
        padding: 10px 0;
        position: sticky;
        top: 275px;
        // after : display => none
        // after : opacity => 0
        // display: none;
        opacity: 0;
        transition: all 1.2s;
        &.active {
          display: block;
          opacity: 1;
        }
        .hashcontent {
          display: flex;
          align-items: center;
          background: $white;
          // background: crimson;
          // width : about 586px
          width: 652px;
          height: 40px;
          line-height: 10px;
          // padding: 0 10px;
          gap: 12px;
          li {
            a {
              width: auto;
              white-space: nowrap;
              text-align: center;
              background: $btnColor;
              padding: 8px 10px;
              border-radius: 8px;
            }
            &:first-child a {
              background: $black;
              color: $white;
            }
          }
        }
      }
      .ad01 {
        margin-top: -50px;
        width: 100%;
        height: auto;
        background: $white;
        .adimg {
          margin-left: 1px;
          width: 100%;
          height: 379px;
          background: url("../img/ad01.jpg");
        }
        .adtitle {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 14px 10px;
          background: $adtitleColor;
          color: $adtextColor;
        }
        .adinfo {
          display: flex;
          gap: 16px;
          padding: 14px 10px;
          .fa-facebook {
            font-size: 40px;
            color: $adtextColor;
          }
          .addesc {
            width: 100%;
            span {
              display: block;
              &:first-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
              }
              &:nth-child(2) {
                margin: 6px 0;
                color: $subColor;
                font-size: 16px;
              }
              &:last-child {
                font-size: 14px;
                color: $subColor;
                b {
                  color: $black;
                }
              }
            }
          }
        }
      }
      .contents {
        background: $white;
        .content {
          width: 100%;
          background: $white;
          img {
            margin: 0 auto;
            &:first-child {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
