body {
  padding: 20px;
}

.App {
  margin: 0 auto;
  width: 500px;
}

.App section {
  margin-bottom: 10px;
  padding: 20px;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}
