.parent {
  border: 5px solid #000;
  background: khaki;
  display: grid;
  grid-template-areas: "header header header" "gnb content lnb" "gnb footer footer";
}

.parent div {
  text-align: center;
  font-size: 30px;
  border: 1px solid #000;
  padding: 10px;
}

.header {
  grid-area: header;
}
.gnb {
  grid-area: gnb;
}
.content {
  grid-area: content;
}
.lnb {
  grid-area: lnb;
}
.footer {
  grid-area: footer;
}
