.parent {
  background: khaki;
  border: 5px solid #000;
  display: grid;
  grid-template-areas: ". . . item item" ". . . item item";
}

.parent div {
  padding: 10px;
  text-align: center;
  font-size: 30px;
  border: 1px solid #000;
}

.item {
  background: crimson;
  grid-area: item;
}
