.parent {
  border: 5px solid #000;
  background: khaki;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
}

.parent div {
  border: 1px solid #000;
  text-align: center;
  font-size: 30px;
}

.item {
  background: crimson;
  /* grid-area: 1/2 / 5/6; */
  grid-area: 2/1 / span 2 / span 3;
}
