/* import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* common */
body {
  font-family: "Noto Sans KR";
  color: #222;
  font-size: 15px;
  background: #fff;
}

/* desktop */
.portfolio {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background: url("./img_20240202/9/background.png") top center no-repeat;
}
.portfolio .headline-share {
  margin-bottom: 50px;
}
.portfolio .headline-share h1 {
  text-decoration-style: wavy;
  text-decoration-color: crimson;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 15px;
  font-family: "Montserrat";
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
}
.portfolio .items {
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.portfolio .items .item.thum .photo {
  width: 100%;
  height: 400px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.portfolio .items .item.thum .photo img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  transition: all 2s;
}
.portfolio .items .item.thum:hover img {
  object-position: bottom;
}
.portfolio .items .item.thum .portfolio-title {
  display: block;
  text-align: center;
  margin: 7px;
  font-family: "Montserrat";
}
.portfolio .items .item.thum .portfolio-title .btn-view {
  color: #fff;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 10px;
  text-transform: uppercase;
}
.portfolio .items .item.thum .portfolio-title .btn-view.pc {
  background: crimson;
}
.portfolio .items .item.thum .portfolio-title .btn-view.mobile {
  background: royalblue;
}
.portfolio .items aside.item b {
  font-family: "Montserrat";
  color: crimson;
  font-weight: normal;
  padding-left: 20px;
}
.portfolio .items aside.item h2 {
  font-family: "Montserrat";
  font-size: 1.6em;
  margin-top: 15px;
  padding-left: 20px;
}
.portfolio .items aside.item p {
  margin: 20px;
}
.portfolio .items aside.item .portfolio-info {
  padding-left: 20px;
  line-height: 1.8em;
}
.portfolio .items aside.item .portfolio-info span {
  font-size: 12px;
  display: list-item;
}

/* featherlight */
.featherlight .featherlight-content {
  margin-left: 0;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.featherlight .featherlight-inner {
  padding-left: 25%;
  width: 100%;
  height: 100%;
}

.featherlight .featherlight-close-icon {
  left: 40px;
  top: 90%;
  width: 50px;
  height: 50px;
  font-size: 2em;
  color: #fff;
  border-radius: 50%;
  background-color: crimson;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .portfolio {
    align-content: start;
    height: auto;
    padding: 20px;
  }
  .portfolio .headline-share h1 {
    font-size: 45px;
  }
  .portfolio .items {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .items aside.item,
  .portfolio .items .item.thum:nth-child(4) {
    grid-column: span 2;
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  .portfolio {
    height: auto;
    padding: 20px;
  }
  .portfolio .headline-share h1 {
    font-size: 20px;
  }
  .portfolio .items {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .items .item.thum:nth-child(2),
  .portfolio .items .item.thum:nth-child(3) {
    grid-column: span 2;
  }
}/*# sourceMappingURL=style.css.map */