$font-color: (
  primary: #222,
  secondary: #555,
);

$font-size: (
  base: 15px,
  large-heading: 60px,
  medium-heading: 45px,
  small-heading: 20px,
);

$bg-color: (
  primary: #fff,
  secondary: #f8f8f8,
);

$btn-color: (
  pc: crimson,
  mobile: royalblue,
);
