@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  color: #222;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section article {
  width: 980px;
  height: 500px;
}

/* heading */
.heading {
  text-align: center;
  margin-bottom: 20px;
}
.heading span {
  color: crimson;
  font-size: 24px;
}
.heading h1 {
  font-size: 36px;
  margin-top: 10px;
}
.heading h1 em {
  font-style: normal;
  position: relative;
}
.heading h1 em::after {
  content: url("./images/logo-kakao.png");
  position: absolute;
  top: -25px;
  right: -30px;
}

/* content */
.content {
  overflow: hidden;
}
.content > div {
  width: 50%;
  height: 400px;
  float: left;
}
.title {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 15px;
  transition: all 0.3s;
  overflow: hidden;
}
.title::after {
  content: "\f105";
  font-family: fontawesome;
  float: right;
  margin-right: 5px;
}
.title.active::after {
  transform: rotate(90deg);
  color: orange;
}
.title:hover,
.title.active {
  background: #203049;
  color: #fff;
}

.desc {
  padding: 15px;
  display: none;
}
.desc.active {
  display: block;
}
.image {
  text-align: right;
}
.image img {
  height: 370px;
}
