.btn {
  background: #fff;
  color: #000;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    background: #000;
    color: #fff;
  }
}

hr {
  margin: 20px 0;
}

.frame {
  display: flex;
  flex-direction: row;
  gap: 20px;
  div {
    flex: 1;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    &:hover {
      color: #fff;
      transform: translateY(-10px);
    }
    &:nth-child(1) {
      background: crimson;
    }
    &:nth-child(2) {
      background: yellowgreen;
    }
    &:nth-child(3) {
      background: royalblue;
    }
  }
}
