* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* #container {
  margin: 20px;
  padding: 20px;
  border-bottom: 1px dashed #222;
}
h1,
h2,
p {
  margin-bottom: 10px;
} */
