* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
button {
  width: 200px;
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  font-size: 2rem;
}
#result {
  color: crimson;
  font-size: 2rem;
}
