/* Font Style */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500&display=swap");
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Manrope', sans-serif; */
/* font-family: 'Source Code Pro', monospace; */
/* font-family: 'Overpass', sans-serif; */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* common */
body {
  font: 15px/1 "Montserrat";
  color: #222;
  background: #fff;
  height: 100vh;
}
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100vh;
  position: relative;
}
.content {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  overflow: hidden;
}

/* ##### Section : Home ##### */
.home-inner {
  background: #fff;
  height: 100%;
}
.home-inner::before {
  content: "";
  background: #000;
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: overlay 1s 2s ease-in-out;
  animation-fill-mode: both;
}
@keyframes overlay {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 50px/5rem "Source Code Pro";
  text-align: center;
  margin: 0;
  animation: slideup 2s linear;
  animation-fill-mode: both;
}
.welcome-text span {
  display: block;
  font-size: 26px;
}
.welcome-text span .fas {
  color: crimson;
}
@keyframes slideup {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  20% {
    opacity: 1;
    margin-top: 0;
  }
  80% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 0;
  }
}
.opacity-image {
  background: url("./images/section-bg-01.jpg") center/cover no-repeat;
  height: 100%;
  opacity: 0;
  animation: opacity-image 1s 2.5s ease-in;
  animation-fill-mode: both;
}
@keyframes opacity-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-heading span {
  display: block;
  font: 600 115px/12rem "Montserrat";
  color: #fff;
  width: 0;
  overflow: hidden;
  animation: reveal 1s 3s ease-in-out;
  animation-fill-mode: both;
}
.home-heading span:nth-child(1) {
  animation-delay: 3s;
}
.home-heading span:nth-child(2) {
  animation-delay: 3.2s;
}
.home-heading span:nth-child(3) {
  animation-delay: 3.4s;
}
@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* ##### Section : About ##### */
.about-inner {
  background: #0dace3 url("./images/line-drawing.png") no-repeat right bottom;
  height: 100%;
}
.about-items {
  width: 45%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 150px;
}
.item {
  overflow: hidden;
  margin-bottom: 50px;
}
.item img {
  filter: invert(1);
  height: 100px;
  float: left;
  margin-right: 20px;
  transition: all 0.5s;
}
.item:hover img {
  filter: invert(0);
}
.item h3 {
  font: 500 28px/1 "Montserrat";
  transition: all 0.5s;
  letter-spacing: -1px;
}
.item:hover h3 {
  color: #000;
}
.item p {
  font-size: 18px;
  margin-top: 5px;
}

/* ##### Section : Project ##### */
.project-inner {
  height: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ddd;
}
input[name="tabmenu"] {
  display: none;
}
.tabs {
  width: 300%;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s;
}
.tab {
  float: left;
  width: 33.33%;
  height: 100%;
  overflow: hidden;
}
.tab > div {
  float: left;
  height: 100%;
}
.project-photo {
  width: 75%;
}
.btn {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 25%;
  text-align: center;
}
.btn label {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 100%;
  margin: 8px;
  cursor: pointer;
  position: relative;
}
.btn label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid transparent;
  border-radius: 100%;
  position: absolute;
  top: -6px;
  left: -6px;
  transition: all 0.3s;
}
.btn label:hover::before {
  border: 1px solid #aaa;
}
input[id="tab1"]:checked ~ .btn label[for="tab1"]::before,
input[id="tab2"]:checked ~ .btn label[for="tab2"]::before,
input[id="tab3"]:checked ~ .btn label[for="tab3"]::before {
  border: 1px solid #aaa;
}
input[id="tab1"]:checked ~ .tabs {
  margin-left: 0;
}
input[id="tab2"]:checked ~ .tabs {
  margin-left: -100%;
}
input[id="tab3"]:checked ~ .tabs {
  margin-left: -200%;
}

/* project-info */
.project-info {
  width: 25%;
  padding: 50px;
  position: relative;
}
.project-info h3 {
  font-size: 20px;
  position: relative;
}
.project-info p {
  font: 16px/1.5rem "Montserrat";
  margin: 20px 0;
  position: relative;
}
.project-info ul {
  margin-bottom: 30px;
  line-height: 2rem;
}
.project-info ul li::before {
  content: "\f105";
  font-family: fontawesome;
  margin-right: 10px;
}
.detail {
  margin-bottom: 50px;
}
.detail div {
  display: inline-block;
  width: 32%;
  color: #999;
  text-align: center;
}
.detail div span {
  display: block;
  color: #000;
  margin-bottom: 10px;
  font: bold 36px/1 "Montserrat";
}
.view-project {
  background: #3f3f3f;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  width: 220px;
  text-align: center;
  transition: all 0.5s;
}
.view-project:hover {
  background: #000;
}
.view-project .fa {
  transition: all 0.5s;
}
.view-project:hover .fa {
  margin-left: 30px;
}
.project-info::before {
  content: attr(data-text);
  font-size: 130px;
  position: absolute;
  top: -10px;
  left: 10px;
  color: #eee;
}

/* featherlight css */
.featherlight .featherlight-content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.featherlight-content iframe {
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 70px;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  border: none;
  padding: 0;
  font-size: 40px;
}

/* ##### Section : Plan ##### */

/* plan-info */
.plan-inner {
  background: #1d1b24;
  height: 100%;
}
.plan-feature {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plan-feature > div {
  height: 300px;
  color: #bbb;
}
.plan-info {
  overflow: hidden;
}
.plan-info > div {
  float: left;
}
.plan-heading {
  width: 70%;
  padding-right: 50px;
}
.plan-heading h2,
.history-info h2 {
  color: #fff;
}
.plan-heading hr.bar,
.history-info hr.bar {
  background: dodgerblue;
  display: inline-block;
}
.plan-heading p {
  font: 16px/1.6rem "Montserrat";
}
.plan-photo {
  width: 30%;
}
.plan-photo img {
  height: 265px;
}

/* history-info */
.history-slider div h4 {
  color: #fff;
  font: normal 20px/1.5rem "Montserrat";
  margin-bottom: 10px;
}
.history-slider div h4 span {
  color: dodgerblue;
}
.history-slider div p {
  font: 16px/1.5rem "Montserrat";
}

/* slick.js */
.history-slider .slick-arrow {
  display: none !important;
}
.history-slider .slick-dots li button::before {
  color: #fff;
  font-size: 40px;
}

/* ##### Section : Awards ##### */
.awards-inner {
  height: 100%;
  border: 1px solid #ddd;
  overflow: hidden;
}
.awards-inner > div {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}
.about-awards {
  background: #1a1f24;
  color: #fff;
}
.about-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}
.about-heading h2 {
  line-height: 5rem;
}
hr.bar {
  width: 50px;
  height: 4px;
  background: crimson;
  border: none;
  margin: 30px auto;
}
.about-heading p {
  color: #999;
  font: 17px/1.5rem "Montserrat";
  margin-bottom: 30px;
}
.view-awards {
  color: #bbb;
  border: 1px solid #bbb;
  border-radius: 20px;
  padding: 5px 15px;
  transition: all 0.5s;
}
.view-awards:hover {
  color: #fff;
  background: #31c0ce;
  border: transparent;
}

.victory-jump {
  background: #fff;
}
.victory-jump img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/* ##### Section : Location ##### */
.location-inner {
  background: url("./images/background-location.jpg") center/cover no-repeat;
  height: 100%;
  position: relative;
}
.location-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.feature {
  width: 70%;
  color: #bbb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.feature > div {
  float: left;
}

/* office */
.office {
  width: 60%;
  padding-right: 100px;
}
.office b {
  display: block;
  margin: 10px 0;
  font-weight: normal;
}
.office h2 {
  color: #1db1f0;
}
.office p {
  margin: 10px 0;
  font: 16px/1.6rem "Montserrat";
}
.office span {
  color: #fff;
  display: block;
  margin-bottom: 24px;
}

/* service */
.service {
  width: 40%;
}
.service-item {
  margin-bottom: 40px;
}
.service-item .fas {
  color: #1db1f0;
  font-size: 40px;
}
.service-item h3 {
  color: #fff;
  font-size: 22px;
  margin: 14px 0;
}

/* ##### Section : Contact ##### */
.contact-inner {
  background: #fff;
  height: 100%;
  border: 1px solid #ddd;
}
.contact-feature {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.contact-feature > div {
  float: left;
  width: 50%;
  padding: 20px;
}

/* cotact-form */
.contact-form h3 {
  font: normal 30px/1.5rem "Montserrat";
}
.contact-form p {
  margin: 20px 0;
}
.send-box label {
  display: block;
  font: bold 16px/1 "Montserrat";
  margin: 20px 0 10px;
}
.send-box label span {
  color: crimson;
  font-weight: normal;
}
.send-box input[type="email"],
.send-box input[type="text"],
.send-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: all 0.5s;
}
.send-box input[type="email"]:hover,
.send-box input[type="text"]:hover,
.send-box textarea:hover {
  border: 1px solid #0088cc;
  box-shadow: 0 0 5px #0088cc;
}
.send-box input[type="email"]:focus,
.send-box input[type="text"]:focus,
.send-box textarea:focus {
  outline: none;
  background: #eee;
}
.send-box input[type="submit"] {
  background: #0088cc;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}
.send-box input[type="submit"]:hover {
  background: #000;
}

/* contact-info */
.contact-info h4 {
  font: normal 20px/1 "Montserrat";
  margin: 20px 0 5px;
}
.contact-info ul li {
  line-height: 2rem;
}
.contact-info ul li:last-child {
  color: #0088cc;
  font-weight: bold;
}
.contact-info p {
  line-height: 2rem;
}
